[submodule "dependencies/minirent"]
	path = dependencies/minirent
	url = https://github.com/alex-s168/minirent.git
[submodule "dependencies/freetype"]
	path = dependencies/freetype
	url = https://github.com/ubawurinna/freetype-windows-binaries.git
