[submodule "dependencies/minirent"]
	path = dependencies/minirent
	url = https://github.com/alex-s168/minirent.git
[submodule "dependencies/freetype"]
	path = dependencies/freetype
	url = https://github.com/ubawurinna/freetype-windows-binaries.git
[submodule "dependencies/miniconf"]
	path = dependencies/miniconf
	url = https://github.com/alex-s168/miniconf.git
[submodule "dependencies/minifmt"]
	path = dependencies/minifmt
	url = https://github.com/alex-s168/minifmt.git
